<div>
    <h1>Brooks Title Escrow and Closing Services, LLC</h1>
    
        <% if user_signed_in? %>
            Signed in as: <strong><%= current_user.email %></strong> |
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
        O    <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
            <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
    
    
    
        <table>
            <tr>
                <th><%= link_to "Home", welcome_index_path %></th>
                <th><%= link_to "About", welcome_about_path %></th>
                <th><%= link_to "Title Services", 'titleServices' %></th>
                <th><%= link_to "Escrow Services", 'escrowServices' %></th>
                <th><%= link_to "Closing Services", 'closingServices' %></th>
                <th><%= link_to "FAQs", 'FAQ' %></th>
                <th><%= link_to "References", 'references' %></th>
            </tr>
        </table>
        
</div>

<!--
login/signup
admin page

welcome#closingServices

  get 'content/closingServices'
  get 'content/escrowServices'
  get 'content/titleServices'
  get 'content/references'
  get 'content/FAQ'
 -->