<div>
    <h1>Brooks Title Escrow and Closing Services, LLC</h1>
        <table>
            <tr>
                <th><%= link_to "Home", welcome_index_path %></th>
                <th><%= link_to "About", welcome_about_path %></th>
                <th><%= link_to "Title Services", 'titleServices' %></th>
                <th><%= link_to "Escrow Services", 'escrowServices' %></th>
                <th><%= link_to "Closing Services", 'closingServices' %></th>
                <th><%= link_to "FAQs", 'FAQ' %></th>
                <th><%= link_to "References", 'references' %></th>
            </tr>
        </table>
        
</div>

<!--
login/signup
admin page

welcome#closingServices

  get 'content/closingServices'
  get 'content/escrowServices'
  get 'content/titleServices'
  get 'content/references'
  get 'content/FAQ'
 -->