<!DOCTYPE html>
<html>
    <head>
        <title>Brooks Title Escrow and Closing Services, LLC</title>
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <%= render partial: 'banner/homebanner' %>
        
        <h2>Closing Services</h2>
        
        <h3>Coordination:</h3>
        <h4>Brooks Title will coordinate with any mortgage lender to receive the loan documents for closing.</h4>
        
        <h3>Comply with Lender Requirements:</h3>
        <h4>We review all forms and comply with the lender requirements for closing.</h4>
        
        <h3>Prepare Closing Disclosure and Documents:</h3>
        <h4>This settlement statement is one of the most important documents to sign, and we will review it in detail at closing. Brooks Title will prepare the deed and other documents necessary to comply with state and federal laws.</h4>
        
        <h3>At Closing:</h3>
        <h4>All documents will be explained to all parties prior to signing. Settlement will last approximately one hour. We will take our time to make sure everyone is comfortable with the documents prior to signing and answer any questions that arise. After closing, we disburse all the monies collected at settlement. We also pay off and release the existing mortgages on the property. We then prepare the loan documents to be returned to the lender.</h4>
        
        <h3>Post Closing:</h3>
        <h4>Ensure all documents are properly recorded in the courthouse such as the new deed, mortgage and release of any existing liens on the property.</h4>
        
        <%= render partial: 'banner/footbanner' %>
        
    </body>
</html>