<!DOCTYPE html>
<html>
    <head>
        <title>Brooks Title Escrow and Closing Services, LLC</title>
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <%= render partial: 'banner/homebanner' %>
        
        <h2>Escrow Services</h2>
        
        <h3>A Real Estate Escrow Company is a neutral third party that holds real estate transaction deposits and documents during the closing process.</h3>
        
        <h3>When all conditions of the sale are met, the escrow holder will release the funds and documents to each party, completing the sale.</h3>
        
        <%= render partial: 'banner/footbanner' %>
        
    </body>
</html>