<!DOCTYPE html>
<html>
    <head>
        <title>Brooks Title Escrow and Closing Services, LLC</title>
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <%= render partial: 'banner/homebanner' %>
        
        <h2>FAQ</h2>
        
        <h3>What is Title Insurance?</h3>
        <p>Title insurance is insurance against loss from defects in title to real property and from the invalidity or unenforceability of mortgage liens. Before you purchased your home, it may have gone through several ownership changes, and the land on which it stands may have went through many more. There may be a weak link at any point in that chain that could emerge to cause problems. For example, someone along the way may have forged a signature in transferring title. Or there may be unpaid real estate taxes or other liens. Title insurance covers the insured party for any claims and legal fees that arise from such problems.</p>
        
        <h3>Do I have to purchase Title Insurance?</h3>
        <p>If you need a mortgage to acquire a property then the answer is yes. All mortgage lenders require protection for an amount equal to the loan amount. It lasts until the loan is repaid. When acquiring a loan the title insurance is required to protect the lender, but you the consumer pay the premium. The premium is a single payment made upfront at the time of closing.</p>
        
        <h3>Does Title Insurance do anything for me?</h3>
        <p>The required insurance protects the lender up to the amount of the mortgage, but it doesn’t protect your equity in the property. For that you need an Owner’s Policy for the full value of the home. In most cases the seller of a property will pay for the owner’s policy as part of their obligation to deliver good title to the buyer. In other cases the buyer must purchase an owner’s policy as an add-on to the lender policy. It is a good idea to purchase the additional policy because the additional cost is relatively low when purchasing both policies simultaneously.</p>
        
        <h3>Doesn't the Lender Policy indirectly protect me?</h3>
        <p>No, title policies are indemnity policies. That means that they protect against loss. The lender’s policy would therefore only cover a loss on the lenders part. Take into account though the fact that the insurer issued a policy to the lender which indicated that the title has been searched and nothing amiss has been found, but no search is 100% dependable. That is why a policy is issued.</p>

        <h3>When does Title Insurance protection begin and end?</h3>
        <p>Title Insurance only protects against losses arising from events that occurred prior to the date of the policy. Coverage ends on the day that the policy is issued and extends backward in time for an indefinite period.</p>

        <h3>For how long is the property owner purchasing Title Insurance covered?</h3>
        <p>Indefinitely. The owner’s protection lasts as long as the owner or any heirs have an interest in or any obligation with regard to the property. When they sell, the lender will require the purchaser to obtain a new policy. That policy protects the lender against any liens or other claims against the property that may have arisen since the date of the previous policy.</p>
        
        <h3>Will Title Insurance protect me against false claims that may arise after I purchase the property?</h3>
        <p>The standard policy does not. To compensate for this deficiency a new policy with expanded coverage has been developed. This is commonly known as the ALTA Homeowner’s policy.</p>
        
        <h3>Does Title Insurance coverage rise with increases in the value of my property?</h3>
        <p>No, but coverage under the ALTA policy referred to above increases by 10% a year for the first 5 years after issuance, to 150% of the initial amount. You can buy additional coverage as a rider to the policy.</p>
        
        <h3>Why do I need to purchase a new policy when I refinance?</h3>
        <p>You don’t need a new Owner’s Policy, although it is recommended for added protection for you the homeowner. You will be required however to purchase a new lender’s policy. Even if you refinance with the same lender, the existing lender’s policy terminates when you pay off the mortgage. Also the lender may be concerned with any title issues that may have arisen since you purchased your property. In most cases if you have previously refinanced or purchased your home within 8 years you may be eligible for a discounted policy. This rate is known as a re-issue rate. Ask your lender or Title Company if you qualify.</p>
        
        <h3>Does Title Insurance guarantee me that I will be able to sell my property if an unforeseen claim arises?</h3>
        <p>No. Title Insurance does not prevent the loss of marketability due to a title claim. If a claim arises, you probably won’t be able to sell your property until the claim is settled by the title insurer.</p>

        <h3>Does a borrower have the right to purchase Title Insurance on their own?</h3>
        <p>Yes although few exercise it. Most people leave it up to one of the professionals associated with their transaction.</p>
        
        <h3>Summary</h3>
        <p>An examination of the typical residential real estate transaction reveals that there are three layers of protection of the title. When the contract stipulates that the seller is to deliver a General Warranty Deed, as most do, the seller promises to defend the title against all claims. He or she also agrees to compensate the buyer in the event of a loss sustained if the buyer’s interest in the property is impaired by a defect in the title for any reason. The owner’s title insurance policy is the second layer. It protects the owner against title defects. And last, the lender has insurance against title claims to protect the remaining loan balance.</p>
        
        <%= render partial: 'banner/footbanner' %>
        
    </body>
</html>