<!DOCTYPE html>
<html>
    <head>
        <title>Brooks Title Escrow and Closing Services, LLC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>

        <%= render partial: 'banner/homebanner' %>
        
        <p>What can Brooks Title do for you?</p>
        
        <%= render partial: 'banner/footbanner' %>

    </body>
    
<!--    
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Services</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Zip</th>
            <th>State</th>
        </tr>
        <tr>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Services</td>
            <td>Phone</td>
            <td>Address</td>
            <td>Zip</td>
            <td>State</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        
    </table>
-->

</html>


