<!DOCTYPE html>
<html>
    <head>
        <title>Brooks Title Escrow and Closing Services, LLC</title>
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <%= render partial: 'banner/homebanner' %>
        
        <h2>Title Services</h2>
        
        <h3>When buying or selling real estate, all parties (Buyers, Sellers, Lenders, Real Estate Agents, and other Third Parties) need timely, accurate, and complete information regarding the title. </h3>
        
        <h3>Check out our most frequently asked questions (FAQs) section for more information.</h3>
        
        <h3>Why perform a title search?</h3>
        
            <ol>
                <li>To determine if the seller has a saleable and marketable interest in the property.</li>
                <li>o determine what kind of restrictions or allowances pertain to the use of the land.  Are there covenants, easements, or zoning restrictions that affect the property? </li>
                <li>To determine if any liens /clouds exist on the property which need to be paid off or addressed at closing.  These could include but are not limited to:</li>
                    <ul>
                        <li>General Execution Digest (GED)</li>
                        <li>Federal Tax Liens</li>
                        <li>State Tax Liens</li>
                        <li>FIFA Judgements</li>
                        <li>Mechanics Liens</li>
                        <li>Sanitary Sewer/Water Liens</li>
                        <li>UCC Filings</li>
                        <li>Property Tax Liens</li>
                        <li>Divorce Decree/Property Division Actions</li>
                        <li>Civil Court Documents (Divorce)</li>
                    </ul>
            </ol>
            
        <h3>Why buy Title Insurance?</h3>
        
        <h4>Title insurance protects your property against claims of ownership or defects in the title. A onetime premium keeps the policy in force as long as you own the property and offers you peace of mind.</h4>
        
        <h4>Brooks Title offers a full range of Title Products and services addressing the needs of buyers, sellers, and lenders, during real estate transactions:</h4>
        
        <ul>
            <li>Owner’s title insurance policy</li>
            <li>Extended owner’s (ALTA) policy</li>
            <li>Lender’s ALTA policy</li>
            <li>Policy endorsements</li>
        </ul>
        
        <%= render partial: 'banner/footbanner' %>
        
    </body>
</html>